<footer class="page-footer">
    <div class="text-center">
        <div class="row">
            <div class="col s12">
                <p class="center-align">SIT725 © 2024 Deakin University</p>
            </div>
        </div>
    </div>
</footer>

<!-- Script for real-time rating notification -->
<% if (session.user) { %>
<script>
    let socket = io();
    socket.emit('registerRatingNotification', "<%= session.user.email %>");
    socket.on('announcement', (msg) => {
        console.log('Announcement: ' + msg);
    });

    socket.on('ratingNotification', (emitData) => {
        if (emitData.message) {
            var toastHTML = `
                <div id="toast-section">
                    <span>${emitData.message}</span>
                    <a href="/profile" class="btn-flat toast-action">GO TO PROFILE</a>    
                </div>
            `;
            M.toast({html: toastHTML});
        }
    })

    const userId = "<%= session.user.id %>";
    socket.emit('register', userId);
    socket.on('task-notification', function(data) {
        alert(data.message);  // Display the notification message
    });

</script>
<% } %>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>

</html>